/*universal*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "trebuchet MS", Helvetica, sans-serif;
  appearance: none;
  outline: none;
  border: none;
}

button:hover,
#reset {
  cursor: pointer;
}

body {
  background: linear-gradient(160deg, rgba(51, 69, 90, 1) 0%, rgb(6, 11, 19) 100%);
}

/*header*/
header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 3px;
  color: #909090;
}

#logo {
  width: 4em;
}

.submit {
  width: 100%;
  margin-top: 40px;
  background: linear-gradient(160deg, #855BC5, #1d12b3);
  border: none;
  border-radius: 20px;
}

img {
  width: 100%;
}

span {
  font-size: 1.9em;
  margin-bottom: 25px;
}

.fields,
input::placeholder {
  background-color: rgb(26,33,49);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid rgba(196, 196, 196, 0.384);
  margin-bottom: 10px;
  align-items: 'center'
}

input:focus,
select:focus {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: none;
  border-bottom: 1px solid rgba(196, 196, 196, 0.384);
}

button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

form {
  display: block;
}

label{
  font-size: 15px;
}

/*navegation*/
#navegation {
  width: 20%;
  max-width: 270px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  border-right: 1px solid white;
  background-color: #243142;
  flex-grow: 1;
}

.icon {
  width: 45px;
}

.profile {
  width: 7em;
  height: 7em;
}

a {
  padding: 4px;
  width: 100%;
  display: flex;
  height: 3em;
  gap: 10%;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  text-decoration: none;
  transition: 300ms;
  color: #11a5ff;
}

a:hover {
  background-color: #36566b;
  transition: 300ms;
  border-left: 3px solid transparent;
  border-radius: 30px;
}

.add {
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
}

.add_button {
  background: linear-gradient(147deg, rgb(156, 106, 219) 0%, rgb(49, 38, 228) 100%);
  width: 60%;
  border: none;
  border-radius: 10px;
}

.add_button:hover {
  cursor: pointer;
}

/*main*/
#select_month {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#monthTransactions,
.search_fields,
#research,
#reset {
  color: white;
  width: 15%;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(26,33,49);
}

#research,
#reset {
  background-color: #3d4a54;
  width: 8%;
}

#search_transactions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

#content {
  display: flex;
}

main {
  width: 80%;
  height: 100%;
  border-left: 1px solid white;
  min-height: 100vh;
  margin-left: -1px;
}


#values {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}


.cards {
  display: flex;
  justify-content: space-between;
  width: 20em;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(#324459, #161d27);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 40%);
  align-items: center;
  color: white;
  padding: 20px 30px;
}

.icon_cards {
  width: 4em;
  padding-left: 5px;
}

#graphics {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.graphicsPerCategory {
  width: 500px;
  height: 244px;
  margin: 7px 0;
}

#transactions_per_month {
  width: 100%;
  height: 350px;
}

.open_navigation {
  position: absolute;
  margin: 10px;
  width: 30px;
  display: none;
  z-index: 2;
}

.open_navigation>img {
  position: relative;
  right: 2px;
}

.search_buttons {
  background-color: #1B2839;
  margin: 0 auto;
  width: 40%;
  border-radius: 40px;
  font-size: larger;
  font-weight: 300;
  font-family: "trebuchet MS", Helvetica, sans-serif;
  color: white;
  display: none;
  display: flex;
  text-align: center;
}

#search_button_box{
  display: none;
  justify-content: space-between;
}

#table,
.cards {
  max-width: 100%;
  overflow: auto;
}

/*table*/
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: white;
  margin: 10px 0;
}

td {
  border-top: 1px solid white;
  height: 53px;
  padding: 6px;
}

th {
  height: 30px;
  padding: 0 10px;
}

.buttons {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.button_Remove,
.edit_register {
  background-color: rgb(180, 29, 29);
  border: none;
  border-radius: 10px;
  width: 3em;
  font-weight: 900;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

.edit_register {
  background-image: linear-gradient(330deg, #65a51f 0, #499c18 25%, #1c900d 50%, #008405 75%, #007b06 100%);
}

.edit_register>img {
  width: 30px;
}

/*modal*/
dialog {
  margin: auto;
  width: 45%;
  height: 85%;
  padding: 2%;
  background-color: #192130f3;
  color: white;
  box-shadow: 0 8px 32px 0 rgba(14, 18, 71, 0.37);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

dialog div {
  display: flex;
  justify-content: space-between;
}

.cancelButton {
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-family: "trebuchet MS", Helvetica, sans-serif;
  color: white;
}

@media screen and (max-width: 960px) {
  #values {
    border-bottom: 1px solid rgba(196, 196, 196, 0.384);
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding: 0 10px;
  }

  .cards {
    display: flex;
    background: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
  }

  .cards>figure {
    display: none;
  }

  .cards:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    
  }

  #search_button_box{
    display: flex;
  }

  .cards:last-child {
    grid-column-start: 3
  }


  #monthTransactions {
    color: white;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #navegation,
  #reset {
    display: none;
  }

  .open_navigation {
    display: block;
  }

  .add{
    width: 250px;
  }

  #search_transactions {
    display: none;
  }

  dialog {
    width: 100%;
  }

  main{
    width: 100vw;
  }

  .buttons {
    display: none;
  }

  #research{
    background-color: #3d4a54;
    width: 100%;
    margin-top: 40px;
    background: linear-gradient(160deg, #855BC5, #1d12b3);
    border: none;
    border-radius: 20px;
    height: 40px;
  }
}

@media only screen and (orientation:portrait){
  .graphicsPerCategory{
    width: 100%;
    height: 244px;
    margin: 7px 0;
  }
}