#navegation {
  width: 25%;
  height: 88.5vh;
  background-color: #181818;
  padding-top: 30px;
  border-right: 1px solid white;
}

.icon {
  width: 45px;
}

a {
  padding: 4px 4px 4px 15px;
  width: 100%;
  display: flex;
  gap: 10%;
  align-items: center;
  font-weight: 500;
  font-size: large;
  margin-bottom: 30px;
  text-decoration: none;
  transition: 300ms;
  color: #11a5ff;
}

a:hover {
  background-color: aqua;
  transition: 300ms;
  border-left: 3px solid transparent;
  border-radius: 30px;
}